<plist version="1.0">
<dict>
	<key>Logged</key>
	<dict>
		<key>OGLoggerClass</key>
		<string>OGLogger</string>
		<key>OGLoggerOutputClass</key>
		<string>OGLoggerOutputFile</string>
	</dict>
	<key>LoggedInherited</key>
	<dict>
		<key>OGLoggerClass</key>
		<string>OGLogger</string>
		<key>OGLoggerOutputClass</key>
		<string>OGLoggerOutputFile</string>
	</dict>
</dict>
</plist>
